@{
    ViewData["Title"] = "Clientes";
}
<h1>@ViewData["Title"]</h1>

<header>
    <h3>Um pouco de nossos clientes recentes</h3>
</header>

<body>
    <br>
    <br>
    <h3>Sih Lopes Beleza Natural</h3>
    <h3>Logotipo</h3>
    <img src="~/visual/Logo.jpeg" alt="Logo Sih Lopez" title="Logo para cabeleireira" height="500" width="500">
    <br>
    <br>
    <h3>Andreia's Studio</h3>
    <h3>Logotipo</h3>
    <img src="~/visual/Logo2.jpeg" alt="Logo Andreia's Studio" title="Logo cabeleireira" height="500" width="500">
    <br>
    <br>
    <h3>Posts</h3>
    <img src="~/visual/Post12.jpeg" alt="Instagram cabeleireira" title="Post 1 cabeleireira" height="500" width="500">
    <br>
    <br>
    <img src="~/visual/Post13.jpeg" alt="Instagram cabeleireira" title="Post 2 cabeleireira" height="500" width="500">
    <br>
    <br>
    <img src="~/visual/Post14.jpeg" alt="Instagram cabeleireira" title="Post 3 cabeleireira" height="500" width="500">
</body>