@{
    ViewData["Title"] = "Home";
}


<div class="banner">
    <div class="bannerTxt">
        <h3>Você sabe quais as vantagens de se contratar uma acessora em marketing digital para midias sociais?</h3>
    </div>
</div>
<div class="row">
    <div class="cardsQuadrados col-sm-10 col-md-5 col-lg-4 offset-1">
        <img class="iconesCards" src="~/visual/visibilidade.png" alt="Maior Visibilidade" height="70px" width="70px"/>
        <p>Mais visibilidade para o seu negócio;</p>
    </div>
    <div class="cardsQuadrados col-sm-10 col-md-5 col-lg-4 offset-1">
        <img class="iconesCards" src="~/visual/tempo.png" alt="Economia de Tempo" height="70px" width="70px" />
        <p>Otimização do tempo;</p>
    </div>
    <div class="cardsQuadrados col-sm-10 col-md-5 col-lg-4 offset-1">
        <img class="iconesCards" src="~/visual/relacionamento.png" alt="Relações boas com Consumidores" height="70px" width="70px" />
        <p>Melhoria no relacionamento com o consumidor;</p>
    </div>
    <div class="cardsQuadrados col-sm-10 col-md-5 col-lg-4 offset-1">
        <img class="iconesCards" src="~/visual/atendimento.png" alt="Melhor Atendimento para sua Empresa" height="60px" width="60px" />
        <p>Atendimento personalizado;</p>
    </div>
    <div class="cardsQuadrados col-sm-10 col-md-5 col-lg-4 offset-1">
        <img class="iconesCards" src="~/visual/graficos.png" alt="Melhoria nos Negócios" height="55px" width="55px" />
        <p>Acompanhamento constante das métricas;</p>
    </div>
    <div class="cardsQuadrados col-sm-10 col-md-5 col-lg-4 offset-1">
        <img class="iconesCards" src="~/visual/economia.png" alt="Economia de Dinheiro" height="70px" width="70px" />
        <p>Pagamento pelo trabalho específico;</p>
    </div>
    <div class="cardsQuadrados" style="margin: 0 auto">
         <img class="iconesCards" src="~/visual/empresa.png" alt="Empresa com Cara Nova" height="60px" width="60px" />
         <p>Nova imagem para a empresa;</p>
    </div>
</div>

