@{
    ViewData["Title"] = "Institucional";
}
<h1>@ViewData["Title"]</h1>


<header>
    <h3>Um pouco sobre nós...</h3>
</header>

<body>
    <h3>Missão</h3>
    <p>Nós da Conagui Mídias temos a missão de promover a produtividade e otimização do tempo para o bem estar de nossos
        clientes por resolver assuntos referentes a marketing digital na internet.</p>
    <br>
    <h3>Visão</h3>
    <p>Ampliar a presença e visibilidade no mercado como prestador de serviços de marketing digital confiável e de
        excelência, de acordo com as necessidades individuais de cada cliente.</p>
    <br>
    <h3>Valores</h3>
    <p>Inovação; Responsabilidade; Colaboração; Organização e foco no cliente com atendimento personalizado.</p>
</body>