@{
    ViewData["Title"] = "Portifólio";
}

<div class="bannerPortifolio">
    <div class="bannerPortifolioTxt">
        <h3>Um pouco de nossos projetos e posts para nossos clientes</h3>
    </div>
</div>

<div class="row">
    <div class="card col-sm-10 col-md-5 col-lg-3 offset-1 cardEspacamento" style="width: 18rem;">
        <img src="~/visual/Post1.jpeg.jpeg" alt="Post cabeleireiro" title="Post para cabeleireiro" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Publicidade para salões de cabeleireiro.</p>
        </div>
    </div>
    <div class="card col-sm-10 col-md-5 col-lg-3 offset-1 cardEspacamento" style="width: 18rem;">
        <img src="~/visual/Post2.jpeg.jpeg" alt="Post loja de semijóias" title="Post para loja de semijóias" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Publicidade para loja virtual de semijóias.</p>
        </div>
    </div>
    <div class="card col-sm-10 col-md-5 col-lg-3 offset-1 cardEspacamento" style="width: 18rem;">
        <img src="~/visual/Post3.jpeg.jpeg" alt="Post motivacional" title="Post motivacional" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Post motivacional para empreendedores.</p>
        </div>
    </div>
    <div class="card col-sm-10 col-md-5 col-lg-3 offset-1 cardEspacamento" style="width: 18rem;">
        <img src="~/visual/Post4.jpeg.jpeg" alt="Post cabeleireiro" title="Post para cabeleireiro" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Post com dicas de cabeleireiro.</p>
        </div>
    </div>
    <div class="card col-sm-10 col-md-5 col-lg-3 offset-1 cardEspacamento" style="width: 18rem;">
        <embed src="~/visual/Post5.mp4" type="video/webm" autostart="false" class="card-img-top" height="260px">
        <div class="card-body">
            <p class="card-text">Arte motivacional para empreendedores.</p>
        </div>
    </div>

    <h4 class="espacoH4">Clientes Recentes</h4>

    <div class="card col-sm-10 col-md-5 col-lg-3 offset-1 cardEspacamento" style="width: 18rem;">
        <img src="~/visual/Logo.jpeg" alt="Logo Sih Lopez" title="Logo para cabeleireira" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Logotipo para Sih Lopes Beleza Natural.</p>
        </div>
    </div>
    <div class="card col-sm-10 col-md-5 col-lg-3 offset-1 cardEspacamento" style="width: 18rem;">
        <img src="~/visual/Logo2.jpeg" alt="Logo Andreia's Studio" title="Logo cabeleireira" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Logotipo para Andreia's Studio.</p>
        </div>
    </div>
    <div class="card col-sm-10 col-md-5 col-lg-3 offset-1 cardEspacamento" style="width: 18rem;">
        <img src="~/visual/Post12.jpeg" alt="Instagram cabeleireira" title="Post 1 cabeleireira" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Post para Andreia's Studio.</p>
        </div>
    </div>
    <div class="card col-sm-10 col-md-5 col-lg-3 offset-1 cardEspacamento" style="width: 18rem;">
        <img src="~/visual/Post13.jpeg" alt="Instagram cabeleireira" title="Post 2 cabeleireira" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Post para Andreia's Studio.</p>
        </div>
    </div>
    <div class="card col-sm-10 col-md-5 col-lg-3 offset-1 cardEspacamento" style="width: 18rem;">
        <img src="~/visual/Post14.jpeg" alt="Instagram cabeleireira" title="Post 3 cabeleireira" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Post para Andreia's Studio.</p>
        </div>
    </div>
</div>

<!--<div>
    <h3>Posts</h3>
    <br>
    <h3>Publicidade para salões de cabeleireiro</h3>
    <img src="~/visual/Post1.jpeg.jpeg" alt="Post cabeleireiro" title="Post para cabeleireiro" height="500" width="500">
    <br>
    <br>
    <h3>Publicidade para loja virtual de semijóias</h3>
    <img src="~/visual/Post2.jpeg.jpeg" alt="Post loja de semijóias" title="Post para loja de semijóias" height="500"
        width="500">
    <br>
    <br>
    <h3>Post motivacional para empreendedores</h3>
    <img src="~/visual/Post3.jpeg.jpeg" alt="Post motivacional" title="Post motivacional" height="500" width="500">
    <br>
    <br>
    <h3>Post com dicas de cabeleireiro</h3>
    <img src="~/visual/Post4.jpeg.jpeg" alt="Post cabeleireiro" title="Post para cabeleireiro" height="500" width="500">
    <br>
    <br>
    <h3>Arte motivacional para empreendedores</h3>
    <embed src="~/visual/Post5.mp4.mp4" autostart="false" height="500" width="500">
</div>-->
