@{
    ViewData["Title"] = "Serviços";
}

<div class="bannerServicos">
    <div class="bannerServicosTxt">
        <h3>Serviços disponíveis para o melhor desempenho do seu negócio.</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 divInstagram">
        <h4>Gestão de Instagram:</h4>
        <p>Análise de Instagram com reuniões e consultoria por 1 mês - R$ 300,00</p>
        <p>Confecção de conteúdos e posts - R$ 15,00 por post</p>
        <p>Organização do feed - R$ 90,00 inicialmente</p>
        <p>Reels - R$ 30,00 por Reel</p>
        <p>Stories - R$ 30,00 por Storie</p>
        <p>Lives - R$ 50,00 por Live</p>
        <p>Criação de filtros sob encomenda - R$ 1.300,00</p>
        <p>Vídeos nuggets - R$ 30,00 por vídeo</p>
    </div>
    <br>
    <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 divYoutube">
        <h4>Gestão de Youtube:</h4>
        <p>Criação de canal - R$ 100,00</p>
        <p>Configuração e gerenciamento de canal - Agendar reunião p/ orçamento</p>
        <p>Gravação de vídeos - R$ 50,00(negociável)</p>
        <p>Thumbnails - R$ 30,00</p>
        <p>Criação de miniaturas em aplicativos - R$ 30,00</p>
        <p>Roteiros de vídeos para Youtube - R$ 80,00(negociável)</p>
        <p>Produção de vinhetas para o canal - R$ 30,00</p>
    </div>
    <br>
    <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-4 divWhatsapp">
        <h4>Gestão de WhatsApp:</h4>
        <p>Vendas online em WhatsApp - Agendar reunião p/ orçamento</p>
        <p>Suporte a clientes via WhatsApp - Agendar reunião p/ orçamento</p>
        <p>Automatização de processos - Agendar reunião p/ orçamento</p>
    </div>
</div>
